<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/6.5/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.1/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="FSi DataGrid Component">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
